<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include ./partials/_styles %>
    <%- include ./partials/_scripts %>

    <title>Visor Advisor</title>
  </head>
  <body>
    <%- include ./partials/_navbar %>

    <% for (const type in messages) { %>
      <div class="notification is-<%= type %>"><%= messages[type] %></div>
    <% } %>

    <%- body %>
    <!-- <%- include ./partials/_footer %> -->
  </body>
</html>
